@font-face {
  src:url('../fonts/Montserrat-Regular.ttf');
  font-family: 'Montserrat-Regular';
}
*{
  margin: 0;
  font-family: Montserrat-Regular;
  }
.header {
  padding: 30px;
  width: 100%;
  border-bottom: 2px solid rgb(66, 8, 94);
  background: linear-gradient(rgba(128, 194, 248, 0.8), rgba(251, 249, 252, 0.822));
}
.headerNavigator {
  display: flex;
  justify-content: space-between;
  margin:0 200px;
}
p {
  padding-top: 10px;
}
.Education {
  display: flex;
  margin-top: -270px;
}
.textEducation {
  margin-top: 10px;
}
.Hobby {
  display: flex;
  margin-top: 100px;
  margin-left: 75px;
}
.hobbyText {
  margin-top: 70px;
}
.myWay {
  margin-top: 50px;
  margin-left: 70px;
}
.name {
  padding-top: 60px;
  margin-left: 198px;
}
.box {
display: flex;
min-height: 95vh;
padding-left: 150px;
margin-top: 50px;
}
.link1 {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}
.link1:hover {
  text-decoration: underline;
}
main{
  margin-top: -11px;
  padding-bottom: 50px;
  color: rgb(80, 80, 80);
  background-color: rgba(141, 207, 245, 0.2);
}
h1 {
  font-size: 22px;
  margin-top: 10px;
}
.photo {
  display: block;
  margin: 0 50px;
  padding: 5px;
  border: 1px solid black;
  background-color: rgb(58, 30, 168, 0.6); 
}
.top::before {
content: "★";
color: rgb(101, 101, 205);
padding: 0 5px;
}
.top {
font-size: 20px;
margin: 10px 0px;
}
footer {
  padding: 15px 20px;
  border-top: 2px solid rgb(66, 8, 94);
  background: linear-gradient(rgb(62, 67, 217, 0.7), rgba(219, 175, 241, 0.822)) ;
}
.paragraph {
padding: 0 20px;
background-color: rgb(255, 255, 255, 0.9);
box-shadow: 5px 0px 3px 4px gray;
width: 70%;
}
@media screen and (max-width: 650px) {
  .box, .headerNavigator {flex-direction: column;}
} 